# Loan eligibility

This program aims at predicting whether or not a customer will be eligible to a loan from his bank.

We will use two different agorithms : <b>RandomForest and Neural Networks.</b>

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
!pip install Tensorflow

In [6]:
import tensorflow.keras as keras

In [31]:
train = pd.read_csv("loan-train.csv", sep=',')

In [32]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [33]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [34]:
train.isnull().sum()
# finding out how much blanks are in each column

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [35]:
train.isnull().sum().sum()

149

### Fill the blanks.

In [36]:
train['Dependents'] = train['Dependents'].fillna(0) 
# Replace the blanks with 0s considering that the applicant doesn't have any dependent

train['LoanAmount'] = train['LoanAmount'].fillna(train["LoanAmount"].mean())
# Replace the loan Amount by the average. This feature is essential to make the prediction

train["Credit_History"] = train["Credit_History"].fillna(train["Credit_History"].median())

In [37]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents            0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [38]:
train.isnull().sum().sum()

62

The number of blank has been reduced by more than half.

In [40]:
train = train.dropna()

In [41]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 553 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            553 non-null    object
 1   Gender             553 non-null    object
 2   Married            553 non-null    object
 3   Dependents         553 non-null    object
 4   Education          553 non-null    object
 5   Self_Employed      553 non-null    object
 6   ApplicantIncome    553 non-null    int64
 7   CoapplicantIncome  553 non-null    float64
 8   LoanAmount         553 non-null    float64
 9   Loan_Amount_Term   553 non-null    float64
 10  Credit_History     553 non-null    float64
 11  Property_Area      553 non-null    object
 12  Loan_Status        553 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 60.5+ KB